<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.azarenko.repository.PeriodicalRepository">

    <resultMap type="User" id="periodicalmap">
        <id column="id" property="id" />
        <result column="title" property="name" />
        <result column="discription" property="discription" />
        <result column="publisher" property="password" />
        <result column="output_frequency" property="outputFrequency"/>
        <result column="per_index" property="index" />
        <result column="age_limit" property="ageLimit"/>
        <result column="archive" property="archive" />
        <result column="price" property="price"/>
    </resultMap>


    <select id="getAll" resultMap="periodicalmap">
        SELECT *  FROM catalog_periodicals
    </select>


</mapper>