body {
    background: url("/image/bg.png") no-repeat center top / cover;
    height: 500px;
    padding: 0;
    margin: 0;
    font-family: Verdana;
}

.logo {
    display: flex;
    margin-left: 30px;
    margin-top: 50px;

}

.logo img {
    width: 120px;
    height: 120px;
    border: 5px solid #1a394f;
    border-radius: 40%;
    box-shadow: 0 -5px 0 #3adbfd;
}

.logo h1 {
    margin-top: 50px;
    padding-left: 150px;
}

h1 {
    text-align: center;
    color: #2ca8c6;
}

h2 {
    padding-left: 50px;
    color: #2ca8c6;

}

.dws-menu {
    background-color: white;
    margin-top: 50px;
    width: 100%;
}

ui.dws-ul {
    display: flex;
    padding: 0;
    justify-content: center;
}

li.dws-li {
    list-style: none;
    padding: 10px;
}

li.dws-li a {
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    color: black;
}

li.dws-li a i {
    margin-right: 10px;
}

.container {
    float: left;
    display-model: 50%;
    width: 350px;
    height: 550px;
    margin-top: 10px;
    margin-left: 50px;
    background-color: rgba(24, 33, 52, 0.5);
}

h3 {
    color: lightyellow;
    text-align: center;
    size: 500px;
}

.dws-li-two {
    color: white;
    list-style: none;
    padding: 10px;
}

.dws-li-two a {
    width: 100%;
    padding-left: 10px;
    color: white;
    margin-right: 10px;
    font-size: 18px;
    text-decoration: none;
    size: 500px;
    text-align: center;

}
.dws-menu-two {
    padding: 0;
}

a:hover {
    text-decoration: none;
}

.container_two {
    margin-top: 10px;
    float: right;
    margin-right: 100px;
    width: 650px;
    height: 550px;
    background-color: rgba(24, 33, 52, 0.5);
}
.container_two p {
    color: white;

}
.end {
    border-bottom: 4px solid #6ee9fd ;
}
.butt {
    margin: 20px 100px  50px 210px;
    padding: 15px 30px;
    font-size: 15px;
    color: #3fff;
    background-color: #2ca8c6;
    border: none;
    border-bottom: 4px solid #6ee9fd;
    cursor: pointer;

}
.butt:hover {
    transition: 0.5s;
    background-color: #fff;
    color: #2c536c;
}

.pagin {
    margin-left: 100px;
    margin-bottom: 5px;
    color: red;
}

.btn-info {
    background-color: rgba(24, 33, 52, 0.5);
    color: white;
    border: none;
    border-radius: 20%;
}

