body {
    font-family: Arial, sens-serif;
    padding: 0;
    margin: 0;
    background: url("/image/bg.png") no-repeat center top / cover;
    height: 500px;
}

h1 {
    font-family: "Segoe UI Black", sans-serif;
    color: #6061ff;
    text-align: center;
}

.center {
}

.text {
    color: white;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
}

.container {
    width: 500px;
    height: 450px;
    background-color: #182134;
    margin: 220px auto 0 auto;
    text-align: center;
    box-shadow: 0 -5px 0 #3adbfd;
    background-color: rgba(24, 33 ,52, 0.5);
    border-radius: 4px;
}

input[type="text"], input[type="password"] {
    width: 300px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 25px;
    border-radius: 4px;
    padding-left: 10px;
}

.dws-input {

}

.container img {
    width: 120px;
    height: 120px;
    margin: -60px 0 30px 0;
    border: 5px solid #1a394f;
    border-radius: 40%;
    box-shadow: 0 -5px 0 #3adbfd;

}

.butt {
    margin: 5px 0 20px 0;
    padding: 13px 30px;
    font-size: 15px;
    color: #3fff;
    background-color: #2ca8c6;
    border: none;
    border-bottom: 4px solid #6ee9fd ;
    cursor: pointer;
}
.butt:hover {
    transition: 0.5s;
    background-color: #fff;
    color: #2c536c;
}
